.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #FFFFFF; /* Color de fondo predeterminado */
}

.animated-face-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.animated-face {
  cursor: pointer;
  width: 250px; /* Tamaño por defecto de las caras */
  height: 250px; /* Tamaño por defecto de las caras */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.animated-face:hover {
  transform: scale(1.1);
}

.selected-face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 0.5s ease-in-out;
}

.selected-face .animated-face {
  width: 500px; /* Tamaño más grande para la cara seleccionada */
  height: 500px; /* Tamaño más grande para la cara seleccionada */
  border-radius: 50%;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

/* Estilos únicos para cada tipo de cara seleccionada */
.selected-face.Excelente {
  background-color: rgba(255, 0, 0, 0.5); /* Fondo rojo semi-transparente */
}

.selected-face.Bueno {
  background-color: rgba(0, 255, 0, 0.5); /* Fondo verde semi-transparente */
}

.selected-face.Regular {
  background-color: rgba(0, 0, 255, 0.5); /* Fondo azul semi-transparente */
}

.selected-face.Mala {
  background-color: rgba(255, 255, 0, 0.5); /* Fondo amarillo semi-transparente */
}

.selected-face.MuyMala {
  background-color: rgba(255, 0, 255, 0.5); /* Fondo morado semi-transparente */
}

.calificacion-enviada {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media queries */

@media (max-width: 768px) {
  .animated-face {
    width: 120px; /* Ajuste de tamaño para dispositivos medianos */
    height: 120px; /* Ajuste de tamaño para dispositivos medianos */
  }

  .selected-face .animated-face {
    width: 180px; /* Tamaño más grande para la cara seleccionada en dispositivos medianos */
    height: 180px; /* Tamaño más grande para la cara seleccionada en dispositivos medianos */
  }

  .calificacion-enviada {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .animated-face {
    width: 100px; /* Ajuste de tamaño para dispositivos pequeños */
    height: 100px; /* Ajuste de tamaño para dispositivos pequeños */
  }

  .selected-face .animated-face {
    width: 150px; /* Tamaño más grande para la cara seleccionada en dispositivos pequeños */
    height: 150px; /* Tamaño más grande para la cara seleccionada en dispositivos pequeños */
  }

  .calificacion-enviada {
    font-size: 1rem;
  }
}
