.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; /* Evita scroll horizontal */
}

.animated-face-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre las caras animadas */
  max-width: 100%; /* Ajusta al ancho máximo del contenedor */
  flex-wrap: wrap; /* Envuelve las caras animadas cuando no hay suficiente espacio */
}

.animated-face {
  cursor: pointer;
  width: 200px; /* Ancho fijo para cada cara animada */
  height: 200px; /* Altura fija para cada cara animada */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Borde redondeado para las caras animadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
}

#cara5 {
  order: 1; /* Coloca cara5 al inicio (izquierda) */
}

#cara4 {
  order: 2; /* Coloca cara4 después de cara5 */
}

#cara3 {
  order: 3; /* Coloca cara3 en el centro */
}

#cara2 {
  order: 4; /* Coloca cara2 antes de cara1 */
}

#cara1 {
  order: 5; /* Coloca cara1 al final (derecha) */
}

.calificacion-enviada {
  margin-top: 20px; /* Margen superior para el texto de calificación enviada */
}

/* Media queries para hacer el diseño responsive */

@media (max-width: 768px) {
  .animated-face {
    width: 150px; /* Reduce el ancho de las caras animadas en pantallas más pequeñas */
    height: 150px; /* Reduce la altura de las caras animadas en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .animated-face {
    width: 120px; /* Reducción adicional del ancho en pantallas muy pequeñas */
    height: 120px; /* Reducción adicional de la altura en pantallas muy pequeñas */
  }
}
